.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
//.card {
//  border: 0;
//  border-radius: 0;
//  box-shadow: 0 0 20px #222;
//}
//
//.left-column {
//  color: #bec2c7;
//}
//
//.left-column .card-body {
//  background: #303e4d;
//  min-height: 700px;
//}
//
//.left-column input {
//  border: 0;
//  border-radius: 0;
//  background: #172534;
//}
//
//.left-column a {
//  color: #8e969e;
//  padding: 0.2rem 1rem;
//}
//
//.left-column a.active {
//  color: #ecf3f9 !important;
//  background: #6698c8 !important;
//}